    {% if site.copyright or site.email %}

      <footer data-animation="fadeInUp">
        <div class="copyright">
            <a href="https://miai.univ-grenoble-alpes.fr/"><img src="https://algorithmicsociety.github.io/images/logoMIAI+BL-rvb.jpg" height="60"></a> &nbsp &nbsp &nbsp
           <img src="https://algorithmicsociety.github.io/images/220px-Logo-Investir_l'avenir-2018.png" height="60"> &nbsp &nbsp &nbsp
            <a href= "https://www.univ-grenoble-alpes.fr/"><img src="https://algorithmicsociety.github.io/images/logo_bleu.svg" height="60"></a> &nbsp &nbsp &nbsp
            <a href= "http://www.sciencespo-grenoble.fr/"><img src="https://algorithmicsociety.github.io/images/cropped-Logo_Sciences-po_grenoble_UGA.png" height="60"></a>
           <br><br><br>
          {% if site.copyright %}<b>{{ site.copyright }}</b>{% endif %} • Photo :<a href="https://unsplash.com/@anniespratt">Annie Spratt<a/> •
        	{% if site.email %}<a href="mailto:{{ site.email }}" title="Send E-Mail">Contact</a>{% endif %} •
        	<a href="{{ '/feed.xml' | prepend: site.baseurl }}" title="Subscribe to Feed">RSS</a>
        </div>
      </footer>
      
    {% endif %}
    
    <script src="{{ '/assets/jquery-2.1.1.min.js' | prepend: site.baseurl }}"></script>
    <script src="{{ '/assets/viewportchecker.js' | prepend: site.baseurl }}"></script>
    <script src="{{ '/assets/scripts.js' | prepend: site.baseurl }}"></script>
          
  </body>

</html>
